.myDiv {
    width: 80%;
    height: 200px;
    background-color: #873b9e;
    border: 25px;
    /* margin: 10px; */
  }
  
  .content {
    width: 100%;
    height: 50px;
    background-color: #702560;
  }
  .myDiv2 {
    border: 5px outset #65d195;
    background-color: #32d3d3;
    text-align: left;
    margin: 10px;
    padding: 10px;
      }
      
  /* this allows for responsive content based on screen dimensions */
  @media (max-width: 897px) {
    .myDiv,
    .content {
      background-color: red;
      /* The width is 100%, when the viewport is 800px or smaller */
      font-size: 50px;
    }
  }
  /* the period before the name is just for organizing, don't actually put it in the HTML name */
  .button {
    background-color: #34924b;
    border: none;
    color: rgb(83, 9, 102);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;}
/* This makes the button do a thing when the cursor hovers over it */
.mybutton:hover{
  background-color: rgba(12, 136, 49, 0.336);
  transform: translateY(250px);}

.navigation{
  float: right;
  width: 100%;
  background-color: darkmagenta;}

  